@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Inter:wght@400;600&display=swap");
@import "./../Gilroy/stylesheet.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: var(--font-main);
}
html a, body a {
  text-decoration: none;
}

.none {
  display: none !important;
}

:root {
  --text-color: #1E1E1E;
  --text-muted: #8D8D8D;
  --text-card-title: #0D1B39;
  --accent: #E58411;
  --header-text-color: #FFF;
  --biruza: #00D6C9;
  --gray: #7C7C7C;
  --footer-accent:#F6973F;
  --footer-bg: #2D2F33;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer: "DM Sans", sans-serif;
}

.header {
  position: relative;
  background-color: var(--footer-bg);
  background-image: url(/images/header-bg.jpg);
  aspect-ratio: 1440/1084;
  background-size: cover;
}
.header .container {
  padding: 0 80px;
}

.nav {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--header-text-color);
}
.nav .logo_title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}
.nav .nav_list {
  font-weight: 500;
  font-size: 18px;
}
.nav .nav_list-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
}
.nav .list-item_menu {
  position: absolute;
  left: 0;
  top: calc(100% + 15px);
}
.nav .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  background-color: var(--footer-bg);
  padding: 20px;
  border-radius: 15px;
}
.nav .menu_list-item {
  cursor: pointer;
  font-size: 16px;
  opacity: 0.7;
}
.nav .menu_list-item:hover {
  color: var(--accent);
  opacity: 1;
}
.nav .nav_list-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  color: var(--header-text-color);
}
.nav .nav_list-link::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav .nav_list-link:hover::after {
  width: 100%;
}
.nav .vector {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.nav .vector--active {
  -webkit-transform: rotate(180deg) !important;
      -ms-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}
.nav .nav_bag {
  position: relative;
}
.nav .count {
  position: absolute;
  top: 2px;
  right: -5px;
  color: var(--header-text-color);
  background-color: var(--accent);
  padding: 5px;
  border-radius: 50%;
  font-weight: 700;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  color: var(--header-text-color);
}
.search .search-title {
  width: 861px;
  font-size: 80px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
}
.search .search-text {
  padding-top: 14px;
  width: 606px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.8;
}
.search .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 45px;
}
.search .search-form .search-form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 344px;
  height: 56px;
  padding: 8px 8px 8px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--header-text-color);
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.search .search-form .search-form_input::-webkit-input-placeholder {
  color: var(--header-text-color);
  font-weight: 400;
  opacity: 0.8;
}
.search .search-form .search-form_input::-moz-placeholder {
  color: var(--header-text-color);
  font-weight: 400;
  opacity: 0.8;
}
.search .search-form .search-form_input:-ms-input-placeholder {
  color: var(--header-text-color);
  font-weight: 400;
  opacity: 0.8;
}
.search .search-form .search-form_input::-ms-input-placeholder {
  color: var(--header-text-color);
  font-weight: 400;
  opacity: 0.8;
}
.search .search-form .search-form_input::placeholder {
  color: var(--header-text-color);
  font-weight: 400;
  opacity: 0.8;
}
.search .search-form .search-form_input:focus {
  outline: none;
}
.search .search-form .search_img {
  position: absolute;
  right: 10px;
  top: 53px;
  padding: 11px;
  border-radius: 24px;
  background: #E58411;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.search .search-form .search_img:hover {
  background: #a25305;
}

.touch-choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  background-image: url(/images/icons/Union.svg);
  background-repeat: no-repeat;
  width: 112px;
  height: 56px;
  position: absolute;
  top: -90px;
  left: -40px;
}
.touch-choise input {
  display: none;
}

.choose-checkbox:checked + .choose-color_fake {
  background-image: url(/images/icons/check.svg);
  background-size: cover;
}

.choose-color_fake {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--gray);
  border: 2px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.choose-color_fake--orange {
  background-color: var(--accent);
}
.choose-color_fake--biruza {
  background-color: var(--biruza);
}
.choose-color_fake--gray {
  background-color: var(--gray);
}

.touch-btn {
  position: absolute;
  top: 62.6126126126%;
  left: 19.8630136986%;
}

.touch-btn2 {
  position: absolute;
  top: 68.4684684685%;
  left: 6.8493150685%;
}

.touch-btn3 {
  position: absolute;
  top: 71.6216216216%;
  left: 55.4794520548%;
}

.touch-btn4 {
  position: absolute;
  top: 74.7747747748%;
  right: 2.397260274%;
}

.touch {
  position: relative;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.touch__circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.touch__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid white;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-animation: pulse 1s infinite alternate;
          animation: pulse 1s infinite alternate;
}

.touch:hover .touch__radius {
  -webkit-animation: pulse 1s infinite alternate paused;
          animation: pulse 1s infinite alternate paused;
}

.touch:hover .touch__circle:hover {
  background-color: var(--accent);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.touch2 {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

.touch3 {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

.touch4 {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: none;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: white;
}

.burger::before {
  top: 0;
  -webkit-box-shadow: 0 11px 0 white;
          box-shadow: 0 11px 0 white;
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}

.burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.menu-list {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 8px;
  padding: 42px 0;
  margin: 0;
  background-color: var(--footer-bg);
  list-style-type: none;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 200px;
  border-radius: 0 0 15px 0;
}

.menu-item {
  position: relative;
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.Furnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 13px;
}

.menu-mobile {
  padding-top: 10px;
}

.menu-mobile_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--header-text-color);
}

.mobile_list-item {
  color: var(--header-text-color);
  opacity: 0.7;
}
.mobile_list-item:hover {
  color: var(--accent);
  opacity: 1;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.burger-checkbox:checked ~ .menu-list {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.info {
  background-color: white;
  padding: 120px 0;
}

.containerI {
  padding: 0 80px;
}

.info-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.choosing {
  width: 242px;
}
.choosing h2 {
  color: var(--text-color);
  font-size: 42px;
  font-weight: 700;
}

.info-list_item {
  width: 284px;
}
.info-list_item h2 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
.info-list_item p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.85;
  opacity: 0.8;
  padding-bottom: 15px;
}
.info-list_item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  color: var(--accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
}
.info-list_item a:hover {
  font-weight: 700;
}

.products {
  padding: 50px 108px;
  background: #F7F7F7;
}

.products-title {
  text-align: center;
  margin-bottom: 32px;
  color: var(--text-color);
  font-size: 42px;
  font-weight: 700;
}

.products-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.products-tabs_item {
  padding: 6px;
  border-radius: 44px;
  background: #EEE;
}

.products-tabs_btn {
  padding: 7px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
  border: none;
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.85;
  opacity: 0.8;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.products-tabs_btn:hover {
  background-color: white;
}

.active {
  padding: 7px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
  background: #FFF;
  opacity: 1;
}

.products-link {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
  left: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  color: var(--accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.85;
}
.products-link:hover {
  font-weight: 700;
}

.products-cards {
  margin-bottom: 60px;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper {
  width: 100%;
}

.swiper-button {
  padding: 12px;
  border: none;
  border-radius: 26px;
  background: #FFF;
  -webkit-box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
.swiper-button:hover {
  background: #eeecec;
}

.swiper-button_prev {
  position: absolute;
  z-index: 3;
  left: -25px;
  top: 40%;
}

.swiper-button_next {
  position: absolute;
  z-index: 3;
  right: -25px;
  top: 40%;
}

.card {
  width: 268px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 20px;
}

.card-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  height: 240px;
  border-radius: 20px 20px 0 0;
  background-color: #FAFAFA;
}

.card_img {
  height: 100%;
}

.card-title {
  padding: 13px 21px 0px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}
.card-title h3 {
  color: var(--text-muted);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
.card-title p {
  color: var(--text-card-title);
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
}

.card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 21px 27px 21px;
}

.card-price_text {
  color: var(--text-card-title);
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
}
.card-price_text .dollar {
  vertical-align: top;
  padding-right: 3px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
}

.card-price_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border-radius: 50%;
  background: var(--text-card-title);
  cursor: pointer;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.card-price_btn:hover {
  background-color: #1b3774;
}

.footer {
  height: 462px;
  background-color: var(--footer-bg);
}

.container {
  padding: 118px 188px 58px 188px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 118px;
}

.about-panto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 140px;
  width: 293px;
  gap: 29px;
}

.panto_title {
  color: var(--header-text-color);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.28px;
}

.panto_desc {
  color: var(--header-text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.8;
}

.about-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 133px;
  padding-right: 84px;
}

.about-furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 133px;
}

.services_title, .furniture_title {
  color: var(--footer-accent);
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 20px;
}

.services_link, .furniture_link {
  color: var(--header-text-color);
  padding-bottom: 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.8;
}
.services_link:hover, .furniture_link:hover {
  opacity: 1;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright_date {
  color: var(--header-text-color);
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
}

.copyright-privace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.copyright-privace p {
  color: var(--header-text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.8;
  cursor: pointer;
}
.copyright-privace p:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .search-title {
    max-width: 535px;
    font-size: 50px !important;
  }
  .search-text {
    max-width: 500px;
    font-size: 20px !important;
  }
}
@media (max-width: 930px) {
  .nav_list {
    display: none;
  }
  .touch-btn3 {
    display: none;
  }
  .menu {
    display: block;
  }
}
@media (max-width: 790px) {
  .search-title {
    text-align: center;
    max-width: 370px;
    font-size: 30px !important;
  }
  .search-text {
    max-width: 400px;
    font-size: 18px !important;
  }
}
@media (max-width: 695px) {
  .touch-btn, .touch-btn2, .touch-btn4 {
    display: none;
  }
}
@media (max-width: 430px) {
  .container {
    padding: 0 20px !important;
  }
  .search-title {
    text-align: center;
    max-width: 300px;
    font-size: 20px !important;
  }
  .search-text {
    max-width: 325px;
    font-size: 16px !important;
  }
  .search-form_input {
    width: 300px !important;
  }
  .menu-list {
    padding: 20px 0;
  }
}
@media (max-width: 1400px) {
  .containerI {
    padding: 0 20px;
  }
  .info-list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 790px) {
  .info {
    padding: 80px 0;
  }
}
@media (max-width: 695px) {
  .info-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .info {
    padding: 40px 0;
  }
}
@media (max-width: 1200px) {
  .products {
    padding: 50px 30px;
  }
}
@media (max-width: 700px) {
  .products-tabs {
    margin-bottom: 40px;
  }
}
@media (max-width: 635px) {
  .products-link {
    left: 43%;
  }
}
@media (max-width: 560px) {
  .products {
    padding: 50px 30px;
  }
  .products-title {
    font-size: 25px;
  }
  .products-tabs_btn {
    padding: 7px 15px;
    font-size: 14px;
  }
}
@media (max-width: 485px) {
  .products-tabs_btn {
    padding: 7px 8px;
  }
  .products-link {
    left: 39%;
  }
}
@media (max-width: 970px) {
  .footer {
    height: auto;
  }
  .container {
    padding: 60px 100px 60px 100px;
  }
  .about {
    padding-bottom: 60px;
  }
}
@media (max-width: 840px) {
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-panto {
    display: none;
  }
  .copyright-privace {
    display: none;
  }
}
@media (max-width: 505px) {
  .container {
    padding: 20px !important;
  }
  .about {
    padding-bottom: 0;
  }
  .copyright_date {
    display: none;
  }
}