@media (max-width:1400px) {
    .containerI {
        padding: 0 20px;
    }

    .info-list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width:790px) {
    .info {
        padding: 80px 0;
    }
}

@media (max-width:695px) {
    .info-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .info {
        padding: 40px 0;
    }
}