@media(max-width: 970px) {
    .footer {
        height: auto;
    }
    
    .container {
        padding: 60px 100px 60px 100px;
    }

    .about {
        padding-bottom: 60px;
    }
}

@media(max-width: 840px) {
    .about {
        justify-content: center;
    }
    .about-panto {
        display: none;
    }

    .copyright-privace {
        display: none;
    }
}

@media(max-width: 505px) {
    .container {
        padding: 20px !important;
    }

    .about {
        padding-bottom: 0;
    }

    .copyright_date {
        display: none;
    }
}