@media (max-width:1200px) {
    .search-title {
        max-width: 535px;
        font-size: 50px !important;
    }

    .search-text {
        max-width: 500px;
        font-size: 20px !important;
    }
}

@media (max-width:930px) {
    .nav_list {
        display: none;
    }

    .touch-btn3 {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media (max-width:790px) {
    .search-title {
        text-align: center;
        max-width: 370px;
        font-size: 30px !important;
    }

    .search-text {
        max-width: 400px;
        font-size: 18px !important;
    }
}

@media (max-width:695px) {
    .touch-btn,.touch-btn2,.touch-btn4 {
        display: none;
    }
}

@media (max-width:430px) {
    .container {
        padding: 0 20px !important;
    }

    .search-title {
        text-align: center;
        max-width: 300px;
        font-size: 20px !important;
    }

    .search-text {
        max-width: 325px;
        font-size: 16px !important;
    }

    .search-form_input {
        width: 300px !important;
    }

    .menu-list {
        padding: 20px 0;
    }
}