@media (max-width:1200px) {
    .products {
        padding: 50px 30px;
    }
}

@media (max-width:700px) {
    .products-tabs {
        margin-bottom: 40px;
    }
}

@media (max-width:635px) {
    .products-link {
        left: 43%;
    }
}

@media (max-width:560px) {
    .products {
        padding: 50px 30px;
    }

    .products-title {
        font-size: 25px;
    }

    .products-tabs_btn {
        padding: 7px 15px;
        font-size: 14px;
    }
}

@media (max-width:485px) {
    .products-tabs_btn {
        padding: 7px 8px;
    }

    .products-link {
        left: 39%;
    }
}