.products-cards {
    margin-bottom: 60px;
}

.slider {
    position: relative;
    display: flex;
}

.swiper {
    width: 100%;
}

.swiper-button {
    padding: 12px;
    border: none;
    border-radius: 26px;
    background: #FFF;
    box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background-color 0.7s;

    &:hover {
        background: #eeecec;
    }
}

.swiper-button_prev {
    position: absolute;
    z-index: 3;
    left: -25px;
    top: 40%;
}

.swiper-button_next {
    position: absolute;
    z-index: 3;
    right: -25px;
    top: 40%;
}

.card {
    width: 268px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.card-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 240px;
    border-radius: 20px 20px 0 0;
    background-color: #FAFAFA;
}

.card_img {
    height: 100%;
        // margin-top: 50px;
        // position: absolute;
        // top: -50px;
        // z-index: 9 !important;
}

.card-title {
    padding: 13px 21px 0px 21px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    h3 {
        color: var(--text-muted);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
    }

    p {
        color: var(--text-card-title);
        font-family: Inter;
        font-size: 21px;
        font-weight: 700;
    }
}

.card-stars {
    display: flex;
    gap: 3px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 21px 27px 21px;
}

.card-price_text {
    color: var(--text-card-title);
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;

    .dollar {
        vertical-align: top;
        padding-right: 3px;
        font-family: Inter;
        font-size: 15px;
        font-weight: 700;
    }
}

.card-price_btn {
    display: flex;
    border: none;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    background: var(--text-card-title);
    cursor: pointer;
    transition: background-color 0.6s;
}

.card-price_btn:hover {
    background-color: #1b3774;
}