.footer {
    height: 462px;
    background-color: var(--footer-bg);
}

.container {
    padding: 118px 188px 58px 188px;
}

.about {
    display: flex;
    padding-bottom: 118px;
}

.about-panto {
    display: flex;
    flex-direction: column;
    padding-right: 140px;
    width: 293px;
    gap: 29px;
}

.panto_title {
    color: var(--header-text-color);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.28px;
}

.panto_desc {
    color: var(--header-text-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    opacity: 0.8;
}

.about-services {
    display: flex;
    flex-direction: column;
    width: 133px;
    padding-right: 84px;
}

.about-furniture {
    display: flex;
    flex-direction: column;
    width: 133px;
}

.services_title,.furniture_title {
    color: var(--footer-accent);
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 20px;
}

.services_link,.furniture_link {
    color: var(--header-text-color);
    padding-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright_date {
    color: var(--header-text-color);
    font-size: 15px;
    font-weight: 400;
    opacity: 0.5;
}

.copyright-privace {
    display: flex;
    gap: 40px;

    p {
        color: var(--header-text-color);
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}