.header {
    position: relative;
    background-color: var(--footer-bg);
    background-image: url(/images/header-bg.jpg);

    aspect-ratio: 1440 / 1084;
    background-size: cover;

    .container {
        padding: 0 80px;
    }
}

.nav {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--header-text-color);

    .logo_title {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.28px;
        text-transform: capitalize;
    }

    .nav_list {
        font-weight: 500;
        font-size: 18px;
    }

    .nav_list-items {
        position: relative;
        display: flex;
        column-gap: 64px;
    }

    .list-item_menu {
        position: absolute;
        left: 0;
        top: calc(100% + 15px);
    }

    .menu_list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: var(--footer-bg);
        padding: 20px;
        border-radius: 15px;
    }

    .menu_list-item {
        cursor: pointer;
        font-size: 16px;
        opacity: 0.7;

        &:hover {
            color: var(--accent);
            opacity: 1;
        }
    }

    .nav_list-link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 13px;
        color: var(--header-text-color);
    }

    .nav_list-link::after {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        display: block;
        width: 0;
        height: 2px;
        background: var(--accent);
        transition: 0.5s;
    }

    .nav_list-link:hover::after {
        width: 100%;
    }

    .vector {
        transition: transform .5s;
    }

    .vector--active {
        transform: rotate(180deg) !important;
    }

    .nav_bag {
        position: relative;
    }

    .count {
        position: absolute;
        top: 2px;
        right: -5px;

        color: var(--header-text-color);
        background-color: var(--accent);
        padding: 5px;
        border-radius: 50%;
        font-weight: 700;
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    color: var(--header-text-color);

    .search-title {
        width: 861px;
        font-size: 80px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.8px;
    }

    .search-text {
        padding-top: 14px;
        width: 606px;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 160%;
        opacity: 0.8;
    }

    .search-form {
        display: flex;
        position: relative;
        padding-top: 45px;

        .search-form_input {
            display: flex;
            width: 344px;
            height: 56px;
            padding: 8px 8px 8px 20px;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            color: var(--header-text-color);
    
            border-radius: 42px;
            border: 0.862px solid rgba(255, 255, 255, 0.60);
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(4px);

            &::placeholder {
                color: var(--header-text-color);
                font-weight: 400;
                opacity: 0.8;
            }
        }

        .search-form_input:focus {
            outline: none;
        }
    
        .search_img {
            position: absolute;
            right: 10px;
            top: 53px;

            padding: 11px;
            border-radius: 24px;
            background: #E58411;
            cursor: pointer;
            transition: 0.5s;
        }

        .search_img:hover {
            background: #a25305;
        }
    }
}

.touch-choise {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-top: 10px;
    background-image: url(/images/icons/Union.svg);
    background-repeat: no-repeat;
    width: 112px;
    height: 56px;
    position: absolute;
    top: -90px;
    left: -40px;

    input {
        display: none;
    }
}

.choose-checkbox:checked + .choose-color_fake {
    background-image: url(/images/icons/check.svg);
    background-size: cover;
}

.choose-color_fake {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    background-color: var(--gray);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow:(0px 4px 6px rgba(0, 0, 0, 0.10));

    &--orange {
        background-color: var(--accent);
    }
    &--biruza {
        background-color: var(--biruza);
    }
    &--gray {
        background-color: var(--gray);
    }
}

.touch-btn {
    position: absolute;
    top: calc(695 * 100% / 1110); 
    left: calc(290 * 100% / 1460);
}

.touch-btn2 {
    position: absolute;
    top: calc(760 * 100% / 1110); 
    left: calc(100 * 100% / 1460);
}

.touch-btn3 {
    position: absolute;
    top: calc(795 * 100% / 1110); 
    left: calc(810 * 100% / 1460);
}

.touch-btn4 {
    position: absolute;
    top: calc(830 * 100% / 1110); 
    right: calc(35 * 100% / 1460);
}

.touch {
    position: relative;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}

.touch__circle {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    transition: 0.5s;
}

.touch__radius {
    width: 32px;
    height: 32px;

    border: 0.86px solid white;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);

    animation: pulse 1s infinite alternate;
}

.touch:hover .touch__radius {
    animation: pulse 1s infinite alternate paused;
}

.touch:hover .touch__circle:hover {
    background-color: var(--accent);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.touch2 { 
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

.touch3 { 
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

.touch4 { 
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

// burger

.mobile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu {
    display: none;
}
.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: white;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 white;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 8px;
    padding: 42px 0;
    margin: 0;
    background-color: var(--footer-bg);
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 200px;
    border-radius: 0 0 15px 0;
  }
  .menu-item {
    position: relative;
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
.Furnit {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 13px;
}
.menu-mobile {
    padding-top: 10px;
}
.menu-mobile_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--header-text-color);
}
.mobile_list-item {
    color: var(--header-text-color);
    opacity: 0.7;

    &:hover {
        color: var(--accent);
        opacity: 1;
    }
}
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }
  