.info {
    background-color: white;
    padding: 120px 0;
}

.containerI {
    padding: 0 80px;
}

.info-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 40px;
}

.choosing {
    width: 242px;

    h2 {
        color: var(--text-color);
        font-size: 42px;
        font-weight: 700;
    }
}

.info-list_item {
    width: 284px;

    h2 {
        color: var(--text-color);
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    p {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.85; 
        opacity: 0.8;
        padding-bottom: 15px;
    }

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        color: var(--accent);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.85; 

        &:hover {
            font-weight: 700;
        }
    }
}