.products {
    padding: 50px 108px;
    background: #F7F7F7;
}

.products-title {
    text-align: center;
    margin-bottom: 32px;
    color: var(--text-color);
    font-size: 42px;
    font-weight: 700;
}

// tabs


.products-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.products-tabs_item {
    // display: inline-flex;
    padding: 6px;
    border-radius: 44px;
    background: #EEE;
}

.products-tabs_btn {
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: none;

    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.85; 
    opacity: 0.8;
    transition:background-color 0.2s;
}

.products-tabs_btn:hover {
    background-color: white;
}

.active {
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #FFF;
    opacity: 1;
}

// link

.products-link {
    position: absolute;
    display: inline-flex;
    margin-bottom: 30px;
    left: 45%;
    align-items: center;
    gap: 13px;
    color: var(--accent);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.85;
    
    &:hover {
        font-weight: 700;
    }
}

