@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Inter:wght@400;600&display=swap');

html, body {
    font-family: var(--font-main);

    a {
        text-decoration: none;
    }
}

.none {
    display: none !important;
}