:root {
    --text-color: #1E1E1E;
    --text-muted: #8D8D8D;

    --text-card-title: #0D1B39;
    --accent: #E58411;
    --header-text-color: #FFF;

    --biruza: #00D6C9;
    --gray: #7C7C7C;

    --footer-accent:#F6973F;
    --footer-bg: #2D2F33;

    --font-main: 'Gilroy', sans-serif;
    --font-cards: 'Inter', sans-serif;
    --font-footer: 'DM Sans', sans-serif;
}